<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">



</head>
<body>
<!-- SHOWCASE SLIDER -->
  <div class="jumbotron jumbotron-fluid">
   <div class="container">
  <h1 class="display-4  text-sm-center">Emergency Helpline Service</h1>
  <p class="lead  text-sm-center"><b>There exists need for an efficient & easy means to get Hospitalization services under emergency Situations.</b></p>
  <p class="lead  text-sm-center">Emergency Patients are turned away from hospitals due to lack of beds / facilities / equipment's. </p>
  <p class="lead  text-sm-center">Hospitals are NOT able to confirm admission availability in another hospital. </p>
  <p class="lead  text-sm-center">Patients need to run from one hospital to another until they find admission in a hospital. </p>
  <p class="lead  text-sm-center">Sometimes it turns out to be too late to save the patient. </p>
  <p class="lead  text-sm-center">Hospital Phones lines usually constantly engaged to check for admission availability. </p>
  <p class="lead  text-sm-center">No clear status on availability of Beds/Ambulance/facilities/equipment’s. </p>
  <p class="lead  text-sm-center">Hospitals NOT able to accept /tied to patients insurance provider/TPA. </p>







</div>
</div>

  <!--HOME ICON SECTION  -->
  <section id="home-icons" class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-4 mb-4 text-center">
          <i class="fas fa-cloud fa-3x mb-2"></i>
          <h3>Sending Data</h3>
          <p>Covered entities should always use some form of secure messaging when emailing medical records to patients for several reasons.</p>
        </div>
        <div class="col-md-4 mb-4 text-center">
          <i class="fas fa-user-circle fa-3x mb-2"></i>
          <h3>Protect Yourself</h3>
          <p>Protect yourself and others from infection by washing your hands or using an alcohol based rub frequently and not touching your face</p>
        </div>
        
        <div class="col-md-4 mb-4 text-center">
          <i class="fas fa-medkit fa-3x mb-2"></i>
          <h3>Vaccines or Treatments</h3>
          <p>At this time, there are no specific vaccines or treatments for COVID-19. However, there are many ongoing clinical trials evaluating potential treatments.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- HOME HEADING SECTION -->
  <section id="home-heading" class="p-5">
    <div class="dark-overlay">
      <div class="row">
        <div class="col">
          <div class="container pt-5">
            <h1>Are You Ready To Get Started?</h1>
            <p class="d-none d-md-block">Considerations for public health and social measures in the workplace in the context of COVID-19</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- INFO SECTION -->
  <section id="info" class="py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-6 align-self-center">
          <h3>What WHO says</h3>
          <p>Coronavirus disease (COVID-19) is an infectious disease caused by a newly discovered coronavirus.</p>
          <a href="https://www.who.int/health-topics/coronavirus" class="btn btn-outline-dark btn-lg">Learn More</a>
        </div>
        <div class="col-md-6">
          <img src="assets/img/who.jpg" alt="" class="img-fluid">
        </div>
      </div>
    </div>
  </section>

  <!-- VIDEO PLAY -->
  <section id="video-play">
    <div class="dark-overlay">
      <div class="row">
        <div class="col">
          <div class="container p-5">
            <!--<a href="#" class="video" data-video="https://www.youtube.com/embed/HnwsG9a5riA" data-toggle="modal" data-target="#videoModal">
              <i class="fas fa-play fa-3x"></i>
            </a>-->
            <h1>See What We Do</h1>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- PHOTO GALLERY -->
  <section id="gallery" class="py-5">
    <div class="container">
      <h1 class="text-center">Photo Gallery</h1>
      <p class="text-center">Check out our photos</p>
      <div class="row mb-4">
        <div class="col-md-4">
          <a href="https://source.unsplash.com/random/560x560" data-toggle="lightbox" data-gallery="img-gallery" data-height="560"
            data-width="560">
            <img src="https://source.unsplash.com/random/560x560" alt="" class="img-fluid">
          </a>
        </div>

        <div class="col-md-4">
          <a href="https://source.unsplash.com/random/561x561" data-toggle="lightbox" data-gallery="img-gallery" data-height="561"
            data-width="561">
            <img src="https://source.unsplash.com/random/561x561" alt="" class="img-fluid">
          </a>
        </div>

        <div class="col-md-4">
          <a href="https://source.unsplash.com/random/562x562" data-toggle="lightbox" data-gallery="img-gallery" data-height="562"
            data-width="562">
            <img src="https://source.unsplash.com/random/562x562" alt="" class="img-fluid">
          </a>
        </div>
      </div>

      <div class="row mb-4">
        <div class="col-md-4">
          <a href="https://source.unsplash.com/random/563x563" data-toggle="lightbox" data-gallery="img-gallery" data-height="563"
            data-width="563">
            <img src="https://source.unsplash.com/random/563x563" alt="" class="img-fluid">
          </a>
        </div>

        <div class="col-md-4">
          <a href="https://source.unsplash.com/random/564x564" data-toggle="lightbox" data-gallery="img-gallery" data-height="564"
            data-width="564">
            <img src="https://source.unsplash.com/random/564x564" alt="" class="img-fluid">
          </a>
        </div>

        <div class="col-md-4">
          <a href="https://source.unsplash.com/random/565x565" data-toggle="lightbox" data-gallery="img-gallery" data-height="565"
            data-width="565">
            <img src="https://source.unsplash.com/random/565x565" alt="" class="img-fluid">
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- NEWSLETTER -->
  <section id="newsletter" class="text-center p-5 bg-dark text-white">
    <div class="container">
      <div class="row">
        <div class="col">
          <h1>Sign Up For Our Newsletter</h1>
          <p>Want to know more about Emergency Helpline Service work around the globe, Sign up for our email brief for hand-picked articles, news, and more.</p>
          <form class="form-inline justify-content-center">
            <input type="text" class="form-control mb-2 mr-2" placeholder="Enter Name">
            <input type="text" class="form-control mb-2 mr-2" placeholder="Enter Email">
            <button class="btn btn-primary mb-2">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </section>

  <!-- FOOTER -->
  <footer id="main-footer" class="text-center p-4">
    <div class="container">
      <div class="row">
        <div class="col">
          <p>Copyright &copy;
            <span id="year"></span> Emergency Helpline Service</p>
        </div>
      </div>
    </div>
  </footer>




  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
</body>
</html>